@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');

:root{
    --cor1: #FFC300;
    --cor2: #0375B4;
    --cor3: #007849;
    --cor4: #262228;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
}

body{
    background-color: var(--cor2);
    font-family: 'Roboto', sans-serif;
}

/*NAVBAR*/
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{height: 80px;}

.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 80px;
    color:white;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

#obMenu{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/*CONTEÚDO*/
.container{
    width: 960px;
    margin: 0 auto;
}

.title_js{
    margin-top: 20px;
    padding: 10px;
}

.js_descrip{
    padding: 15px;
    text-align: justify;
}

.links{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.links a{
    text-decoration: none;
    margin: 10px 0;
    
    width: 120px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    color: var(--cor4);
    background-color: var(--cor1);
}

.links a:hover{
    color: white;
    background-color: var(--cor3);
    border: 2px solid white;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color:black;
    font: italic 1em Arial;
}

/*RESPONSIVE*/
@media (max-width: 450px){
    .container{
        width: 90%;
    }
    .main_header{
        padding: 20px 5%;
    }
    .logo{
        font-size: 1.2em;
    }
}