@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --cor1: #FFC300;
    --cor2: #0375B4;
    --cor3: #007849;
    --cor4: #262228;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
}

body{
    background-color: var(--cor2);
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 20px;
    background-color: var(--cor1);
    color: w;
}

.description{
    font: italic 15pt 'Roboto';
}

.container{
    width: 960px;
    margin: 0 auto;
}

.links{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.links a{
    text-decoration: none;
    margin: 10px 0;
    
    width: 120px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    color: var(--cor4);
    background-color: var(--cor1);
}

.links a:hover{
    color: white;
    background-color: var(--cor3);
    border: 2px solid white;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color:black;
    font: italic 15pt Arial;
}