body{
    background-color: #0d0dc8;
    font: normal 15pt Arial;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    width: 100%;
    height: 80px;
}

.title{
    color: white;
    text-align: center;
}

#centro{
    padding: 15px;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

#botoes{
    margin: 10px 0px 10px 0px;
    
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.btn:hover{
    border: 3px solid #000;
}

#cyan{background-color: cyan;}
#red{background-color: red;}
#blue{background-color: blue;}
#yellow{background-color: yellow;}
#green{background-color: green;}
#pink{background-color: palevioletred;}
#orange{background-color: orange;}

#imagem img{
    width: 100%;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}